
/* margin is working but not border? */
.photo {
	width: 100px;
	margin:10px;
}

.contentItem {
	margin:10px;
}

img{
	width: 600px;
	border-width: 4px;
	border-style: solid;
	border-color: #000000;
	border-radius: 15px;
	justify-content: center;
	margin: auto;
}



h1 {
	font-family: Voltaire, sans-serif;
}

body {
	font-family: sans-serif
}