
/* margin is working but not border? */
.photo {
	border:2px;
	border-color: #ffffff;
	margin:2px;
}

/* this font stuff is not working right now */
@font-face{
	font-family:FiraSans;
	src: url("https://fonts.google.com/specimen/Fira+Sans?selection.family=Fira+Sans");
}

.mainHeader {
	font-family: FiraSans;

}